# Python Basics I: Variables

In [2]:
ingresos = 1000
gastos = 400

In [3]:
ingresos

1000

In [4]:
gastos

400

In [5]:
margen = ingresos-gastos

In [6]:
margen

600

In [7]:
print(margen)

600

In [8]:
ingresos_text = "los ingresos han sido altos"
ingresos_alt = 'los ingresos han sido altos'
print(ingresos_text)
print(ingresos_alt)

los ingresos han sido altos
los ingresos han sido altos

In [9]:
ingresos_text = "los 'ingresos' han sido altos"
ingresos_text

"los 'ingresos' han sido altos"

In [11]:
ingresos_text = "los "ingresos" han sido altos"

SyntaxError: invalid syntax (3486791361.py, line 1)

In [12]:
ingresos=1000
ingresos = 1000
print(ingresos)

1000

In [13]:
ingresos text="los ingresos han sido altos"

SyntaxError: invalid syntax (1186775780.py, line 1)

In [14]:
gastos

400

In [16]:
gastos = 200
print (gastos)

200

In [18]:
ingresos

1000

In [19]:
gastos

200

In [20]:
margen

600

In [21]:
margen= ingresos - gastos

In [22]:
margen

800

In [23]:
gstos

NameError: name 'gstos' is not defined

In [25]:
texto = "error sin comillas

SyntaxError: unterminated string literal (detected at line 1) (2211738507.py, line 1)

In [26]:
29_ingresos

SyntaxError: invalid decimal literal (4210135933.py, line 1)

ingresos_29=5000

In [28]:
print(ingresos_29)

5000

In [29]:
print(Ingresos_29)

NameError: name 'Ingresos_29' is not defined

In [30]:
def=10

SyntaxError: invalid syntax (2570036723.py, line 1)

In [31]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [34]:
help ("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

SyntaxError: invalid syntax (384079569.py, line 1)

In [1]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [2]:
print (ingresos)
print(gastos)
print ("los beneficios han sido de")
print (beneficios)

1000
100
los beneficios han sido de
900

In [5]:
mes = "junio"
print ("los beneficios de %s han sido %s millones" %(mes, beneficios))

los beneficios de junio han sido 900 millones

In [6]:
print ("los beneficios de %s han sido %s millones" %(beneficios,mes))

los beneficios de 900 han sido junio millones

In [9]:
mes = "agosto"
print ("los beneficios de" , mes, "han sido", beneficios, "millones")

los beneficios de agosto han sido 900 millones

In [10]:
# comentario de linea
# print ("esto lo ignora")

print ("esto lo ejecutará")

esto lo ejecutará

In [20]:
print ("fin del programa") ´´´esta linea indica que hemos terminado´´´

SyntaxError: invalid character '´' (U+00B4) (2023318700.py, line 1)

In [17]:
"""comentario multilinea
"""

'comentario multilinea\n'

In [22]:
ventas_jun_jul = ventas_junio + ventas_julio
ventas_junio = 100
ventas_julio = 150

NameError: name 'ventas_junio' is not defined

In [23]:
ventas_junio

NameError: name 'ventas_junio' is not defined

In [24]:
print (ventas_junio)

NameError: name 'ventas_junio' is not defined

In [26]:
ventas_junio = 100
ventas_julio = 150
print (ventas_junio)
ventas_julio

100

150

In [32]:
ventasjun_jul = ventas_junio + ventas_julio
print("las ventas de junio a julio son" , ventasjun_jul)

las ventas de junio a julio son 250

In [33]:
altura=1.80; peso=75
print(altura,peso)

1.8 75

In [ ]:
x,y,z=12,23,45

In [ ]:
x=12
y=23
z=45

In [34]:
altura = 1.85
del altura

In [35]:
altura

NameError: name 'altura' is not defined